doctype html
html(lang="ar" data-theme="light")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        // content="article" قم بتغييرها للمقالات
        meta(property="og:type" content="website")
        // عنوان الصفحه
        meta(property="og:title" content=options.title)
        // إسم الموقع
        meta(property="og:site_name" content=options.website_name)
        // كلمات دلالية للصفحة
        meta(name="keywords" content=options.keywords.join(", "))
        // صورة المعاينة للصفحة
        meta(property="og:image" content=options.preview)
        // وصف الصفحة
        meta(property="og:description" content=options.description)
        // وصف الصفحة
        meta(name="description" content=options.description)

        // Twitter Meta Tags
        meta(name="twitter:title" content=options.title)
        meta(name="twitter:description" content=options.description)
        meta(name="twitter:image" content=options.preview)

        // عنوان الصفحة
        title= options.title
        link(rel="stylesheet" href="/css/main.css")
        link(rel="shortcut icon" href="/icon/logo_2.svg")
        block stylesheet
    body
        header
            include header.pug
        img(src="/icon/loading.svg" alt="loading" class="iconFilter")#loading
        #content 
            block content
        include footer.pug
        block script
        script(type="module")
            include ../public/js/main.js
        script.
            window.options = !{jsStringify(options)};