extends ../partials/layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/hisnmuslim.css")

block content
    #hisnmuslimPage
        ul.breadcrumb
            li 
                a(href="/")
                    i.fa-solid.fa-house-chimney.iconBreadcrumb 
            li 
                small /
                a(href="/hisnmuslim") فهرس حصن المسلم
            if options.isAdhkarHisnMuslim
                li 
                    small /
                    a(href=`/hisnmuslim/${options.titleBox.split(" ").join("_")}`) #{options.titleBox}
            else if options.isHisText
                li 
                    small /
                    a(href=`/hisnmuslim/${options.category.split(" ").join("_")}`) #{options.category}
        h2 #{options.titleBox}
        if options.isIndex
            input(type="text" name="search" placeholder="بحث...")#SearchIndex
            ul#hisnmuslimIndex 
        else if options.isAdhkarHisnMuslim
            ul#hisnmuslimCategory
        else if options.isHisText
            ul#hisnmuslimCategory 
                li 
                    small.HusId #{options.ObjectHis.id}
                    p#textHis
                    .Boxicons 
                        i.fa-solid.fa-play#hisPlay
                        i.fa-solid.fa-cloud-arrow-down#hisDownload
                    small.Huscount التكرار : 
                        span #{options.ObjectHis.count}
block script
    script(type="module").
        const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
        import { HisnMuslimIndex, HisnMuslimList, HisnMuslimItem } from '/js/pages/hisnmuslim.js';
        
        if (options.isIndex) {
            await HisnMuslimIndex(options);
        } else if (options.isAdhkarHisnMuslim) {
            await HisnMuslimList(options);
        } else {
            await HisnMuslimItem(options);
        }