extends ../partials/layout.pug

block stylesheet
    link(rel="stylesheet" href="/css/history.css")

block content
    #historyPage
        ul.breadcrumb
            li 
                a(href="/")
                    i.fa-solid.fa-house-chimney.iconBreadcrumb 
            li 
                small /
                a(href="/historical-events") الموسوعة التاريخية الإسلامية
            if !options.isIndex
                li 
                    small /
                    a(href=`/historical-events/${options.historyJson.id}`) #{options.historyJson.title}
        if options.isIndex
            h2 الموسوعة التاريخية الإسلامية
            input(type="text" name="search" placeholder="بحث...")#searchHistory
            ul#historyBox 
            button#historyMore المزيد
        else
            #historyBoxText
                h2 #{options.historyJson.title}
                ul#boxDate
                    each item in options.historyJson.date
                        li #{item}
                p#HistoryContent
block script
    script(type="module").
        const options = !{JSON.stringify(options)};  // تحويل خصائص options إلى كائن JSON
        import { HistoryIndex } from '../js/pages/history.js';
        import filterSpan from "/js/modules/filterSpan.js";
        
        if (options.isIndex) {
            HistoryIndex(options);
        } else {
            const HistoryContent = document.getElementById("HistoryContent");
            HistoryContent.innerHTML = filterSpan(options.historyJson.text);
        }