i.fa-solid.fa-moon#buttonTheme 
#rights
    p=`جميع الحقوق محفوظة كنز الإسلام ©2023`
#footer
    img(src="/icon/logoFooter.svg" alt="logo" class="iconFilter" width="30" height="30")#logo_footer.iconFilter
    #footer_box
        #footer_right 
            h2.footer_category حول المنصة
            p="منصة كنز الإسلام هي منصة إلكترونية تهدف إلى تقديم محتوى إسلامي شامل يشمل القرآن الكريم، الأذكار، الفتاوى، الأدعية، أوقات الصلاة، وغيرها من المحتوى الإسلامي."
        #footer_left 
            h2.footer_category وسائل التواصل
            #footer_social 
                a(href=telegram)
                    i.fa-brands.fa-telegram.iconSocial 
                a(href=instagram)
                    i.fa-brands.fa-square-instagram.iconSocial  
                a(href=tiktok)
                    i.fa-brands.fa-tiktok.iconSocial 
                a(href=`mailto:${email}`)
                    i.fa-solid.fa-envelope.iconSocial 
                a(href=`SMS:${phone}`)
                    i.fa-solid.fa-comment-sms.iconSocial