doctype html
html(lang="ar" data-theme="light" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:site_name" content=website_name)
        meta(property="og:type" content="website")
        meta(property="og:title" content=options.title ? `${options.title} - ${website_name}` : "كنز الإسلام - منصة شاملة للقرآن والأذكار والأحاديث والتفاسير والمحتوى الإسلامي")
        meta(property="og:description" content=options.description ? options.description : "كنز الإسلام هي منصة إسلامية شاملة تهدف إلى توفير القرآن الكريم والأذكار والأحاديث وغيرها من المحتوى الإسلامي بطريقة سهلة ومنظمة. توفر المنصة مجموعة واسعة من الموارد الدينية والتعليمية للمسلمين، استكشف كنز الإسلام اليوم واستفد من محتواه القيم والموثوق.")
        meta(property="og:image" content=MainPreview ? MainPreview  : "")
        meta(name="keywords" content=options.keywords ? options.keywords.join(", ") : "إسلام, قرآن, أذكار, أحاديث, منصة إسلامية, فتاوى, أوقات الصلاة, تفسير, مسبحة")
        meta(name="description" content=options.description ? description : `${website_name} هي منصة إسلامية شاملة تهدف إلى توفير القرآن الكريم والأذكار والأحاديث وغيرها من المحتوى الإسلامي بطريقة سهلة ومنظمة. توفر المنصة مجموعة واسعة من الموارد الدينية والتعليمية للمسلمين، استكشف ${website_name} اليوم واستفد من محتواه القيم والموثوق.`)
        title=options.title ? `${options.title} - ${website_name}` : "كنز الإسلام - منصة شاملة للقرآن والأذكار والأحاديث والتفاسير والمحتوى الإسلامي"
        //- link(rel="stylesheet" href="/css/main.css")
        //- link(rel="stylesheet" href="/css/header.css")
        //- link(rel="stylesheet" href="/css/footer.css")
        //- link(rel="stylesheet" href="/css/fonts.css")
        //- link(rel="stylesheet" href="/css/variables.css")
        link(rel="preload", href="/css/dist/styles.min.css", as="style")
        link(rel="preload", href="/css/fontawesome.all.css", as="style")
        link(rel="stylesheet" href="/css/dist/styles.min.css")
        link(rel="stylesheet" href="/css/fontawesome.all.css")
        script.
            if (localStorage.getItem("theme") == "dark") document.documentElement.setAttribute("data-theme", "dark");
        block stylesheet
    body
        noscript
            p Warning: This website will not function without JavaScript enabled. Please enable JavaScript and refresh the page
            p(lang="ar" dir="rtl") تحذير: هذا الموقع لن يعمل بدون تمكين الجافا سكريبت. يرجى تمكين الجافا سكريبت وتحديث الصفحة
        header
            include ./header.pug
        img(src="/icon/loading.svg" alt="loading")#loading
        #content 
            block content
        include ./footer.pug
        block script
        script(type="module")
            include ../../public/js/main.js